<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hit Counter</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


        <style>
            .o-a {overflow-x: auto;}
            .mw-800p {max-width: 800px; margin: auto;}
        </style>
    </head>
    <body class="text-center pt-1">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1><a href="https://github.com/brentvollebregt/hit-counter">Hit Counter</a></h1>
                    <p class="lead text-muted mb-1">Easily count hits on a website by requesting a svg that displays a hit count.</p>


                    <h2 class="mt-4">Top URLs</h2>
                    <table class="table table-bordered table-sm mw-800p">
                        <thead>
                            <tr>
                                <th scope="col">URL</th>
                                <th scope="col">Total Hits Counted</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for site in top_sites['domains'] %}
                            <tr>
                                <td style="word-break: break-all;"><a href="//{{ site }}">{{ site }}</a></td>
                                <td>{{ top_sites['values'][site] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>

        <script>generateCode();</script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
